@media all and (max-width: 774px) {
    #container {
        margin-top: 10%;
        gap: 8%;
    }

    .menu-main {
        height: 30%;
        width:80%;
    }

    #logo {
        margin: 0 auto;
        width: 15%;
    }

    button {
        width:90%;
        height: 4em;
        margin: 0 5% 3% 5%;
    }
}

@media all and (min-width: 775px) {
    #container {
        margin-top: 2%;
        gap: 8%;
    }

    .menu-main {
        height: 40%;
        width:80%;
    }

    #logo {
        margin: 5% auto;
        width: 15%;
    }

    button {
        width:90%;
        height: 4em;
        margin: 0 5% 3% 5%;
    }

    #buttonCPU {
        margin-top: 3%;
    }
}

@media all and (min-width: 1000px) {
    #container {
        margin-top: 2%;
        gap: 8%;
    }

    .menu-main {
        height: 40%;
        width:60%;
    }

    #logo {
        margin: 5% auto;
        width: 10%;
    }

    button {
        width:70%;
        height: 4em;
        margin: 0 15% 3% 15%;
    }

    #buttonCPU {
        margin-top: 3%;
    }
}

@media all and (min-width: 1250px) {
    #container {
        margin-top: 1%;
        gap: 7%;
    }

    .menu-main {
        height: 40%;
        width:60%;
    }

    #logo {
        margin: 5% auto;
        width: 8%;
    }

    button {
        width:70%;
        height: 4.5em;
        margin: 0 15% 2% 15%;
    }

    #buttonCPU {
        margin-top: 3%;
    }
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    
}

.menu-main {
    margin: -5% auto;
    background-color: rgba(31, 54, 65, 0.8);
    padding: 5%;
    border-radius: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0.4em #101b20;
    gap: 15%;
}

.menu-section {
    background-color: #202A37;
    display: flex;
    width: 100%;
    min-height: 50%;;
    border-radius: 0.8em;
}

.letterbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#xbox {
    filter:grayscale(80%);
}

#obox {
    background-color: #A8BFC9;
    border-top-right-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
}

#o {
    filter:invert(100%) brightness(10%);
}

.letterImg {
    width: 20%;
}

h2 {
    font-size: 1.2em;
}

#remember {
    color: slategray;
}

button {
    border: none;
    border-radius: 0.8em;
    font-weight: bolder;
}

button:hover, .letterbox:hover {
    cursor: pointer;
}

#buttonCPU {
    background-color: #F2B137;
    box-shadow: 0px 0.4em #c99330;
}

#buttonPlayer {
    background-color: #31C3BD;
    box-shadow: 0px 0.4em #248d8a;
}
